[submodule ".github/themes/eol"]
	path = .github/themes/eol-uchile
	url = https://github.com/eol-uchile/eol-ecommerce-theme
[submodule ".github/themes/openuchile"]
	path = .github/themes/openuchile
	url = https://github.com/open-uchile/open-uchile-ecommerce-theme.git